// fonts
$font-main: "Roboto", sans-serif;

// colors
$fakepure-color: #f3f4f5;
$joy-color: #ff689d;
$strong-color: #222222;
$fem-color: #8c4966;
$bougies-color: #6dc36d;
$corn-color: #e7d404;
$passion-color: #ef280f;
$sea-color-in-malaga: #024a86;
$sky-color: #109dfa;
