.page__footer {
  min-width: 1200px;
  padding: 1rem;
  color: $fakepure-color;
  background-color: $strong-color;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  img {
    width: 80px;
  }
}
